<!-- Preparazione Lezione 5 -->

{% extends "layout.html" %}
{% block content %}
{% for post in posts %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href=" {{ url_for('posts.posts_function', user_id=post.user_id) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime("%d/%m/%Y %H:%M") }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.posts_function }}</p>
    </div>
</article>

{% endfor %}
{% endblock content %}






