<!-- Preparazione Lezione 5 -->

{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href={{url_for('users_posts', author_username=post.author.username)}}>{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime("%d/%m/%Y %H:%M") }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.post_content }}</p>
    </div>
</article>

{% endblock content %}